.wrapper {
	margin: 5% auto 0;
}
.login-form {
	margin: 0 auto;
}
.login-form h3{
	text-align: center
}
.login-form .links a{
	text-decoration: none;
    padding: 1%;
    width: 49%;
    border-left: 1px solid;
    display: inline-block;
}
.my-alert {
	margin-top: 60px;
}
.no-float {
	float: none;
}
.btn {
	border-radius: 0 !important
}
.create-exam .header{
	text-align: center
}
.create-exam ol .form-control{
	display: inline-block; 
}
.create-exam ol .radio{
	margin-left: 20px; 
}
.create-exam ul{
	list-style: lower-alpha;
}
.create-exam input[type="radio"]{
	top: 6px
}