.wrapper {
	width: 50%;
	min-width: 500px;
	margin: 10% auto 0;
}
.login-form {
	width: 30%;
	min-width: 200px;
	margin: 0 auto;
}
.login-form h3{
	text-align: center
}
.login-form .links a{
	text-decoration: none;
    padding: 1%;
    width: 49%;
    border-right: 1px solid;
    display: inline-block;
}
.my-alert {
	margin-top: 60px;
}
.no-float {
	float: none;
}
.btn {
	border-radius: 0 !important
}